.tabs {
  display: flex;
  align-items: center;
  gap: 20px;
  .tab {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 6px 12px;
    &:hover {
      background-color: #e2e2e2;
    }
    &.active {
      background-color: green;
      color: #fff;
    }
  }
}
