.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(#000, 0.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .bar {
    background-color: #fff;
    width: 500px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
